<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/aplogo_peq"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/aplogo_peq_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AchievePlay"
        tools:targetApi="31">
        <activity
            android:name=".ui.view.OtherUserProfile"
            android:exported="false" />
        <activity
            android:name=".ui.view.ManualActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.DiscoveryActivity"
            android:exported="false" />
        <activity android:name=".ui.view.GameDetailsActivity" />
        <activity
            android:name=".ui.view.ProfileCreationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>